@import "../Kickstrap/extras/themes/sandra/less/variables.less";

// RIALMS variables
//@blockHeaderBackgroud : #C0DF7C;
@blockHeaderBackgroud:@successBackground;
@blockHeaderTextColor : #013435;
@blockContentBackground: #fff;
@blockContentBorder: #C3C3C3;
//@sidebarNavBackground: #eefdd2;
@sidebarNavBackground:#F3F8ED;    //got it from sandra.less
//@blockControlsBackground : #eefdd2;
@blockControlsBackground : @sidebarNavBackground;
@formActionsBackground : @sidebarNavBackground;
@sidebarNavHeaderColor: #CB5356;
@sidebarNavLinkHoverColor : @sidebarNavHeaderColor;
//@sidebarNavHeaderBackground : #ffe7e6;

