@import "../bootstrap/variables.less";

// RIALMS variables
@blockHeaderBackgroud : #C0DF7C;
@blockHeaderLinkBorder: #49A644;
@blockHeaderTextColor : @tooltipBackground;
@blockContentBackground: #fff;
@blockContentBorder: #C3C3C3;
@blockControlsBackground : #eefdd2;
@sidebarNavBackground: #eefdd2;
@sidebarNavHeaderColor: #CB5356;
@sidebarNavLinkHoverColor : @sidebarNavHeaderColor;
//@sidebarNavHeaderBackground : #ffe7e6;

