.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 65px;
}
.block-header {
  border: solid 1px #dddddd;
  padding: 10px 0px 10px 20px;
  background-color: #7ad375;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}
.block-header a {
  padding: 5px;
  border: none;
  margin: 1px;
}
.block-header a:hover {
  background-color: #55c74e;
  outline: 1px solid #49a644;
}
.block-content {
  background-color: #fff;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dddddd;
  padding: 20px 20px 20px 20px;
}
