.center {
  text-align: center;
}
.pad {
  padding: 5px 15px 5px 15px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 65px;
}
.block-header {
  border: 1px solid #aee274;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0px 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #013435;
  box-shadow: 2px 2px 20px #eeeeee;
}
.block-header a {
  padding: 5px;
  border: none;
  margin: 1px;
}
.block-header a:hover {
  background-color: #8dde5f;
  outline: 1px solid #6ed534;
}
.block-content {
  background-color: #ffffff;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #abe789;
  border-top: 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 20px #eeeeee;
}
.block-controls {
  padding: 15px 20px 05px 20px;
  margin-top: 20px;
  background-color: #f3f8ed;
  border-top: 2px solid #eeeeee;
}
#sidebar-status-list {
  max-height: 770px;
  overflow: auto;
}
#check-sb {
  max-height: 70px;
  overflow: auto;
}
.sidebar-nav {
  padding: 0px 0px 10px;
  margin-bottom: 20px;
  background-color: #f3f8ed;
  border: 1px solid #eaf1db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #eeeeee;
}
.sidebar-nav a:hover {
  color: #cb5356;
}
.sidebar-nav .block-header {
  border-bottom: none;
  background-color: #abe789;
}
.nav .nav-header {
  padding: 10px;
  border-top: 2px solid #eeeeee;
  color: #cb5356;
}
a.toggleNav {
  padding: 0px 0px 0px 15px;
  font-size: large;
  color: #1a4445;
}
a.toggleNav:hover {
  color: #000000;
  text-decoration: none;
}
.no-sidebar {
  margin-left: 0 !important;
}
.submission {
  padding: 20px;
}
.page-title {
  text-align: center;
  padding: 10px;
}
.title {
  text-align: center;
  padding: 10px;
}
.form-actions {
  background-color: #f3f8ed;
}
.order-interaction {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.order-interaction li {
  margin: 0px 5px 5px -5px;
  padding: 5px;
}
.order-interaction li span {
  padding: 5px 15px 5px 15px;
  border: 1px solid #62c729;
  box-shadow: 2px 2px 20px #eeeeee;
  cursor: move;
  border-left-width: 3px;
}
.draggable-gap-text {
  display: inline-block;
  margin: 0px 10px 20px 10px;
  padding: 5px 30px 5px 30px;
  cursor: move;
  border: 1px solid #62c729;
  box-shadow: 2px 2px 20px #eeeeee;
}
.droppable-gap {
  margin: 5px;
  padding: 5px 30px 5px 30px;
  border: 1px solid #62c729;
  box-shadow: 2px 2px 20px #eeeeee;
}
.associable-choice {
  padding: 5px 15px 5px 15px;
  margin: 10px;
  border: 1px solid #62c729;
  box-shadow: 2px 2px 20px #eeeeee;
  border-radius: 5px;
}
.associable-choice-endpoint {
  padding: 0px 5px 0px 5px;
  background-color: #62c729;
  cursor: pointer;
}
.feature-list {
  margin: 2px;
}
.feature-list code a {
  color: #dd1144;
}
.feature-list code a:hover {
  text-decoration: underline;
}
.feature-list .active {
  color: #dd1144;
}
.feature-list a {
  color: #dd1144;
}
.feature-list a:hover {
  text-decoration: none;
}
.feature-list a:hover pre {
  color: #dd1144;
}
.item-result {
  margin: 0px 0px 0px 10px;
  font-family: 'Fredoka One', Cursive, sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 18px;
  font-size: 14px;
}
.result-correct {
  color: #008000;
}
.result-incorrect {
  color: #ff4500;
}
.result-partiallyCorrect {
  color: #ff8c00;
}
.model-feedback {
  margin: 5px;
  padding: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #ffffe0;
  border: 1px solid #yellow;
  color: green;
}
.subnav {
  height: 45px;
  background-color: #f3f8ed;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 30px 5px 30px;
}
.documentation p,
.documentation li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  font-size: 16px;
}
.documentation .highlight {
  color: #008000;
}
.documentation a {
  color: #0064cd;
}
.documentation a:hover {
  color: #004b9a;
  text-decoration: underline;
}
