.center {
  text-align: center;
}
.pad {
  padding: 5px 15px 5px 15px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 65px;
}
.block-header {
  border: 1px solid #aee274;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  border-bottom: none;
  padding: 10px 0px 10px 20px;
  background-color: #abe789;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #013435;
}
.block-header a {
  padding: 5px;
  border: none;
  margin: 1px;
}
.block-header a:hover {
  background-color: #8dde5f;
  outline: 1px solid #6ed534;
}
.block-content {
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #c3c3c3;
  border-top: 0px;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.block-controls {
  padding: 15px 20px 05px 20px;
  margin-top: 20px;
  background-color: #f3f8ed;
  border-top: 2px solid #eeeeee;
}
#sidebar-status-list {
  max-height: 500px;
  overflow: auto;
}
.sidebar-nav {
  padding: 0px 0px 10px;
  margin-bottom: 20px;
  background-color: #f3f8ed;
  border: 1px solid #eaf1db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.sidebar-nav a:hover {
  color: #cb5356;
}
.nav .nav-header {
  padding: 10px;
  border-top: 2px solid #eeeeee;
  color: #cb5356;
}
a.toggleNav {
  padding: 0px 0px 0px 15px;
  font-size: large;
  color: #1a4445;
}
a.toggleNav:hover {
  color: #000000;
  text-decoration: none;
}
.no-sidebar {
  margin-left: 0 !important;
}
.submission {
  padding: 20px;
}
.page-title {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #eeeeee;
}
.title {
  text-align: center;
  padding: 10px;
}
.form-actions {
  background-color: #f3f8ed;
}
.order-interaction {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.order-interaction li {
  margin: 0px 5px 5px -5px;
  padding: 5px;
}
.order-interaction li span {
  padding: 5px 15px 5px 15px;
  border: 1px solid #c3c3c3;
  border-left-width: 3px;
}
.draggable-gap-text {
  display: inline-block;
  margin: 0px 10px 20px 10px;
  padding: 5px 30px 5px 30px;
  border: 1px solid #b6b6b6;
}
.droppable-gap {
  margin: 5px;
  padding: 5px 30px 5px 30px;
  border: 1px solid #b6b6b6;
}
.associable-choice {
  padding: 5px 15px 5px 15px;
  margin: 10px;
  border: 1px solid #62c729;
  box-shadow: 2px 2px 19px #eeeeee;
  border-radius: 5px;
}
